<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412237739347-bj0oe4j8rpctkf5gaok9g02u13fbm54p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412237739347-bj0oe4j8rpctkf5gaok9g02u13fbm54p</string>
	<key>API_KEY</key>
	<string>AIzaSyCTNo5ikId-qzhPrN_v5uYfNN70ZcWv6H8</string>
	<key>GCM_SENDER_ID</key>
	<string>412237739347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DonovanZJaimes.GardenGuide</string>
	<key>PROJECT_ID</key>
	<string>gardenguide-8e010</string>
	<key>STORAGE_BUCKET</key>
	<string>gardenguide-8e010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412237739347:ios:a2983c4bb0e44b7c6b9da6</string>
</dict>
</plist>